.og-autocomplete-list
    div {{ mainText }}
    ng-container(*ngFor='let option of options; let i = index')
        .og-autocomplete-item(
            [data-index]='i',
            [data-content]='option.content',
            [class.highlight]='i === currentItemIndex',
            (click)='inputItem(i, 0)'
        )
            div.og-ac-type {{option.type}}
            div.og-ac-name {{option.name}}
    ng-container(*ngIf='options.length > 0 && currentItemIndex != -1 && isValidStr(options[currentItemIndex]?.desp)')
        .og-autocomplete-footer {{options[currentItemIndex].desp}}
    ng-container(*ngIf='options.length === 0')
        .og-autocomplete-footer No results found
