h3(translate) Quick Cmd Hint Settings

.alert.alert-info.d-flex.align-items-center
    .me-auto
        div(translate) This plugin is still in its early stages of development. Users are advised that there may be risks associated with its usage, and all usage is at your own discretion and responsibility.

        div(translate) The developer has mainly focused on scenarios where:

        ul 
            li(translate) The server is connected via SSH and runs Ubuntu.
            li(translate) The shell environment is Bash.
            li(translate) Tabby is installed on a Windows system.
        
        div(translate) Other configurations or setups may not be supported.



h3 Init Scripts

.form-line
    .header
        .title(translate) Try to run init scripts when session connected
        .description(translate) For Bash Only
    toggle(
        [(ngModel)]='config.store.ogAutoCompletePlugin.autoInit',
        (ngModelChange)='config.save()',
    )


h3 AI

.form-line
    .header
        .title(translate) Open AI Base URL
        .description(translate) 
    input.form-control(
        type='text',
        [(ngModel)]='config.store.ogAutoCompletePlugin.ai.openAIBaseUrl',
        (ngModelChange)='config.save()',
    )

.form-line
    .header
        .title(translate) Open AI Key
        .description(translate) Note that all information will be saved in plain text locally
    input.form-control(
        type='password',
        [(ngModel)]='config.store.ogAutoCompletePlugin.ai.openAIKey',
        (ngModelChange)='config.save()',
    )


.form-line
    .header
        .title(translate) Open AI Model name
        .description(translate) 
    input.form-control(
        type='text',
        [(ngModel)]='config.store.ogAutoCompletePlugin.ai.openAIModel',
        (ngModelChange)='config.save()',
    )

h3 Debug

.form-line
    .header
        .title(translate) Enable debug mode and detailed logs
        .description(translate) 0 All, 1 log, 2 warn, 3 ErrorOnly, 4 No log
    input.form-control(
        type='number',
        max=4,
        min=-2,
        [(ngModel)]='config.store.ogAutoCompletePlugin.debugLevel',
        (ngModelChange)='config.save()',
    )
