h3(translate) Quick Cmd Hint Settings

.form-line
    .header
        .title(translate) Enable debug mode and detailed logs
        .description(translate) 0 All, 1 log, 2 warn, 3 ErrorOnly, 4 No log
    input.form-control(
        type='number',
        [(ngModel)]='config.store.ogAutoCompletePlugin.debugLevel',
        (ngModelChange)='config.save()',
    )

.form-line
    .header
        .title(translate) Try to run init scripts when session connected
        .description(translate) May not work on terminal other than bash
    toggle(
        [(ngModel)]='config.store.ogAutoCompletePlugin.autoInit',
        (ngModelChange)='config.save()',
    )


.form-line
    .header
        .title(translate) Open AI Base URL
        .description(translate) 
    input.form-control(
        type='text',
        [(ngModel)]='config.store.ogAutoCompletePlugin.ai.openAIBaseUrl',
        (ngModelChange)='config.save()',
    )

.form-line
    .header
        .title(translate) Open AI Key
        .description(translate) Note that all information will be saved in plain text locally
    input.form-control(
        type='password',
        [(ngModel)]='config.store.ogAutoCompletePlugin.ai.openAIKey',
        (ngModelChange)='config.save()',
    )


.form-line
    .header
        .title(translate) Open AI Model name
        .description(translate) 
    input.form-control(
        type='text',
        [(ngModel)]='config.store.ogAutoCompletePlugin.ai.openAIModel',
        (ngModelChange)='config.save()',
    )