h3 AutoComplete

.form-line
    .header
        .title Enable debug mode and detailed logs
        .description 显示详细日志和调错信息 0 All, 3 ErrorOnly, 4 No
    input.form-control(
        type='number',
        [(ngModel)]='config.store.ogAutoCompletePlugin.debugLevel',
        (ngModelChange)='config.save()',
    )

.form-line
    .header
        .title(translate) Try to run init scripts when session connected.
        .description(translate) 在每次连接后，自动尝试运行初始化脚本
    toggle(
        [(ngModel)]='config.store.ogAutoCompletePlugin.autoInit',
        (ngModelChange)='config.save()',
    )


.form-line
    .header
        .title Open AI Base URL
        .description AI 服务的基础 URL
    input.form-control(
        type='text',
        [(ngModel)]='config.store.ogAutoCompletePlugin.ai.openAIBaseUrl',
        (ngModelChange)='config.save()',
    )

.form-line
    .header
        .title Open AI Key
        .description 请注意所有信息将非加密地保存在本地 Note that all information will be saved in plain text locally
    input.form-control(
        type='password',
        [(ngModel)]='config.store.ogAutoCompletePlugin.ai.openAIKey',
        (ngModelChange)='config.save()',
    )


.form-line
    .header
        .title Open AI Model name
        .description AI 模型名称
    input.form-control(
        type='text',
        [(ngModel)]='config.store.ogAutoCompletePlugin.ai.openAIModel',
        (ngModelChange)='config.save()',
    )