.og-autocomplete-list {
    background-color: var(--theme-bg-more);
    border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
    color: var(--bs-list-group-color);
    .og-autocomplete-item-list {
        overflow-y: auto;
        max-height: 250px;
    }

    & .og-autocomplete-item.og-tac-selected,
    & .og-autocomplete-item:hover  {
        background-color: var(--bs-list-group-active-bg);
        color: var(--bs-list-group-active-color);
        border-color: var(--bs-list-group-active-border-color);
    }
}
.og-autocomplete-main-text {
    line-height: 1em;
    height: 1.5em;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}

.og-autocomplete-list {
    position: absolute;
    z-index: 20;
    max-width: 350px;
    min-width: 350px;
    display: none;
    border-radius: 7px;
    overflow: hidden;
}

.og-autocomplete-item {
    /* padding: 2px; */
    margin-bottom: 1px;
    cursor: pointer;
    width: auto;
    display: flex;
    flex-direction: row;
    max-width: 35vw;
}

.og-autocomplete-footer {
    padding: 8px;
    border-top: 1px solid #ddd;
}

.og-autocomplete-item .og-ac-type {
    padding: 4px;
}

.og-autocomplete-item .og-ac-name {
    padding: 4px;
}

.og-ac-type {
    background-color: #b235eb;
    color: #fff;
    &[data-cmd-type='q'] {
        background-color: #d4d424;
        color: #0c0333;
    }
    &[data-cmd-type='h'] {
        background-color: green;
    }
}
/* var(--bs-list-group-active-border-color)
var(--bs-list-group-active-color)  var(--bs-list-group-active-bg)

var(--bs-list-group-color)

var(--bs-list-group-bg)

var(--bs-list-group-border-width) solid var(--bs-list-group-border-color)
*/
// .og-autocomplete-list[theme-mode='dark'] {
//     background-color: rgb(8, 2, 36);
//     border: 1px solid #6f6f6f;
//     color: #565555;

//     & .og-autocomplete-item.og-tac-selected {
//         background-color: #7b14aa;
//     }
    
//     & .og-autocomplete-item:hover {
//         background-color: #7e14afa9;
    
//     }
//     & .og-autocomplete-footer {
//         background-color: #0c0333;
//     }
//     & .og-ac-name {
//         color: #ddd;
//     }
// }
// .og-autocomplete-list[theme-mode='light'] {
//     background-color: hsl(0, 0%, 93.2%);
//     // border: 1px solid var(--bs-list-group-border-color);
//     color: rgb(42, 44, 51);

//     & .og-autocomplete-item.og-tac-selected,
//     & .og-autocomplete-item:hover  {
//         background-color: rgb(184, 199, 251);
//         color: rgb(8, 36, 137);
//         border-color: rgb(13, 110, 253);
//     }
// }
