h3 AutoComplete

.form-line
    .header
        .title Enable debug mode and detailed logs
        .description 显示详细日志和调错信息 0 All, 3 ErrorOnly, 4 No
    input.form-control(
        type='number',
        [(ngModel)]='config.store.ogAutoCompletePlugin.debugLevel',
        (ngModelChange)='config.save()',
    )

.form-line
    .header
        .title(translate) Try to run init scripts when session connected.
        .description(translate) 在每次连接后，自动尝试运行初始化脚本
    toggle(
        [(ngModel)]='config.store.ogAutoCompletePlugin.autoInit',
        (ngModelChange)='config.save()',
    )


.form-line
    .header
        .title Agent type
        .description Select agent appearance
    select.form-control(
        [(ngModel)]='config.store.ogAutoCompletePlugin.agent',
        (ngModelChange)='config.save()'
    )
        option([ngValue]='agent', *ngFor='let agent of agents') {{agent}}