h3 AutoComplete

.form-line
    .header
        .title Enable debug mode and detailed logs
        .description 显示详细日志和调错信息 0 All, 3 ErrorOnly, 4 No
    input.form-control(
        type='number',
        [(ngModel)]='config.store.ogAutoCompletePlugin.debugLevel',
        (ngModelChange)='config.save()',
    )


.form-line
    .header
        .title Agent type
        .description Select agent appearance
    select.form-control(
        [(ngModel)]='config.store.ogAutoCompletePlugin.agent',
        (ngModelChange)='config.save()'
    )
        option([ngValue]='agent', *ngFor='let agent of agents') {{agent}}