h3 AutoComplete

.form-line
    .header
        .title(translate) Warn when closing active connections
    toggle(
        [(ngModel)]='config.store.ssh.warnOnClose',
        (ngModelChange)='config.save()',
    )


.form-line
    .header
        .title Agent type
        .description Select agent appearance
    select.form-control(
        [(ngModel)]='config.store.clippyPlugin.agent',
        (ngModelChange)='config.save()'
    )
        option([ngValue]='agent', *ngFor='let agent of agents') {{agent}}